---
import type { GetStaticPaths } from "astro";
import Layout from "@/presentation/web/layouts/shared/Layout.astro";
import NavBar from "@/presentation/web/layouts/shared/NavBar.astro";
import Footer from "@/presentation/web/layouts/shared/Footer.astro";
import ProductCard from "@/presentation/web/components/products/ProductCard.astro";

import images from "@/presentation/assets/img/saco.jpg"
const imagen_saco = images.src;

const products = [
	{name: 'Camiseta Casual Hombre', description: 'Camiseta Casual Hombre', price: 29.99, pathImg: imagen_saco},
	{name: 'Camiseta Casual Mujer', description: 'Camiseta Casual Mujer', price: 27.99, pathImg: imagen_saco},
	{name: 'Camiseta Casual Ni単o', description: 'Camiseta Casual Ni単o', price: 20.99, pathImg: imagen_saco},
	{name: 'Camiseta Deportiva Hombre', description: 'Camiseta Deportiva Hombre', price: 19.99, pathImg: imagen_saco},
	{name: 'Camiseta Deportiva Mujer', description: 'Camiseta Deportiva Mujer', price: 17.99, pathImg: imagen_saco},
	{name: 'Camiseta Deportiva Ni単o', description: 'Camiseta Deportiva Ni単o', price: 47.99, pathImg: imagen_saco},
	
]

export const getStaticPaths = (async () => {
    return [
        {
            params: {name: "man" },
        },
        {
            params: {name: "women" },
        },
        {
            params: {name: "kids" },
        },
    ];
}) satisfies GetStaticPaths;

const pathName = Astro.url.pathname;

const sectionName = pathName.split('/').at(-1);

---

<Layout title="Inicio">
	<NavBar />

	

	<!-- Featured Products -->
	<div class="bg-white">
		<div
			class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8"
		>
			<h2
				class="text-3xl font-extrabold tracking-tight text-gray-900 text-center mb-12"
			>
				Productos Destacados Para {sectionName}
			</h2>

			<div
				class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
			>
				{
					products.map(({description, name, price, pathImg})=><ProductCard description={description} name={name} price={price} pathImg={pathImg} />)
					
				}
			</div>
		</div>
	</div>

	

	<Footer />

	
</Layout>
